.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}
.chat_messages {
  flex: 1;
}

.chat_input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 20px;
  background-color: #474b53;
}
.chat_input > form > input {
  padding: 15px;
  border: none;
  width: 100%;
  background: transparent;
  outline-width: 0;
  color: white;
  font-size: large;
}
.chat_input > form {
  flex: 1;
}
.chat_inputButton {
  display: none;
}
.chat_inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}
